.App {
  text-align: center;
}

.loading-overlay {
  position: absolute;
  left: 30%;
  top: 30%;
}

.loading-overlay i {
  font-size: 150px;
}

.qr-container img {
  width: 100%;
}

.header-margin {
  margin-top: 58px;
}
