.data-table {
    width: 100%;
}

.data-table table {
    width: 100%;
}

.data-table .search-bar {
    width: 100%;
    font-size: 40px;
    border-radius: 10px;
}

.data-table .action-button {
    width: 26px;
}

.data-table table tr td img {
    height: 20px;
}