input.input {
    width: 100%;
    border-radius: 18px;
    font-size: inherit;
    padding: 9px;
    border: 0;
}

textarea.textaria {
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 15px;
}

.form-control {
    margin-top: 10px;
}