.button {
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  background-color: #5FBF2B;
  width: 100%;
  max-width: 245px;
  color: #fff;

  &_red {
    background-color: #FF3A3A;
  }
}